/* Input Area */
.input-container {
    position: relative;
    margin: 23px auto;
    width: 200px;
  }
  
  .input-container input[type="text"] {
    font-size: 15px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0; 
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  #inputDateRange {
    color: #7b7b7b;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 14px;
    color: #333;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  /* Input Area End */

  .calendarContainer {
    margin-bottom: 5px;
  }

  .createTask {
    position: absolute;
    z-index: 9999999999999999;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: -25px;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid rgb(116, 114, 114);
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
}

.createTaskButton{
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #F05251;
  color: #fff;
  border: none;
  outline: none;
}

.createTaskButton:hover {
  background-color: #f05151dd;

}
