<div class="addFlagContainer">
    <div class="copyLink">
        Copy Link
    </div>
    <div class="addFlag">
        Add Flag
    </div>
    <div class="labelColour">
        Label Colour
        <div class="selectColour">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <circle cx="6" cy="6" r="5.5" fill="#F8D2BD" stroke="white" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <circle cx="6" cy="6" r="5.5" fill="#EFF8BD" stroke="white" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <circle cx="6" cy="6" r="5.5" fill="#BDF0F8" stroke="white" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <circle cx="6" cy="6" r="5.5" fill="#DABDF8" stroke="white" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <circle cx="6" cy="6" r="5.5" fill="#F8BDBD" stroke="white" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <circle cx="6" cy="6" r="5.5" fill="#BDF8CA" stroke="white" />
            </svg>
        </div>
    </div>
    <div class="selectAction">
        <img src="../../../assets/icons/delete.svg" alt="">
        Add Flag

    </div>
</div>